{
    "features": [{% for testcenter in testcenters %}
        {
            "geometry": {
                "coordinates": [
                    {{testcenter.coordinates[0]}},
                    {{testcenter.coordinates[1]}}
                ],
                "type": "Point"
            },
            "properties": {
                "location": "{{testcenter.location}}",
                "telephone": "{{testcenter.telephone}}",
                "opening_hours": "{{testcenter.opening_hours}}",
                "title": "{{testcenter.title}}"
            },
            "type": "Feature"
        }{% if loop.index < loop.length %},{% endif %}{% endfor %},
    ],
    "metadata": {
        "data_source": {
            "title": "Stadt Leipzig",
            "url": "https://www.leipzig.de/jugend-familie-und-soziales/gesundheit/neuartiges-coronavirus-2019-n-cov/testzentrum/"
        }
    },
    "type": "FeatureCollection"
}